@import 'atropos/atropos.css';
/** dark mode fro img */
.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

/** dark mode fro v-viewer */

/** fonts */
.shiki code span {
  font-family: 'MonaspaceNeon';
}

* {
  font-family: 'MonaspaceNeon';
}

.my-mermaid * {
  font-family: 'MonaspaceRadon'
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'MonaspaceRadon'
}

main p, main a, main li, code {
  font-family: 'MonaspaceRadon'
}

svg {
  display: inline-block;
}

@font-face {
  font-family: 'MonaspaceRadon';
  src: url('/fonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff2') format('woff2');
}

@font-face {
  font-family: 'MonaspaceKrypton';
  src: url('/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2') format('woff2');
}

@font-face {
  font-family: 'MonaspaceNeon';
  src: url('/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2') format('woff2');
}

#nprogress {
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 1031;
}

#nprogress .bar {
  background: var(--vp-c-brand-1);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
